:root {
    --font-size-bassic: 62.5%;

    --border-radius: .5rem;

    --color-dark: #000000b2;
    --color-black: #000000;
    --color-blue: #6767f5;
    --color-green: #00ff00;
    --color-white: #f5f5f5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
header,
#terminal__riddel,
button,
.button-box,
.question-box,
.answer-box,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: calc(var(--font-size-bassic) * 2.6);
    padding: .5rem 0;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(var(--font-size-bassic) * 1.7);
}

header,
footer {
    height: 10lvh;
    color: var(--color-white);
    background-color: var(--color-black);
}

#terminal__riddel {
    width: 100%;
    height: 80lvh;
    gap: .5rem;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--color-black);
}

.question-box {
    width: 100%;
    border: solid 1px var(--color-green);
    background-color: var(--color-green);
    padding: .5rem;
    gap: .5rem;
}

.answer-box {
    width: 100%;
    background-color: var(--color-blue);
    padding: .5rem;
    gap: .5rem;
    flex-direction: column;
}

p#question,
p#answer {
    width: 97%;
    border-radius: var(--border-radius);
    background-color: var(--color-dark);
    font-size: calc(var(--font-size-bassic) * 2);
    padding: 2.5rem;
    line-height: 2.5;
}

#question {
    color: var(--color-green);
}

#answer {
    color: var(--color-blue);
}

#result {
    color: green;
    font-size: 24px;
    font-weight: bold;
}

.button-box {
    width: 100%;
    padding: 2rem .5rem;
    gap: .5rem;

}

button {
    width: 49.25%;
    height: 10lvh;
    border-radius: var(--border-radius);
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: calc(var(--font-size-bassic) * 2);
    padding: 1rem;
    cursor: pointer;
}

#randomNumber {
    color: var(--color-blue);
    font-weight: bold;
}

