#raetsel {
    width: 85vw;
    height: 45vh;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: black;
}

.question {
    color: rgb(0, 0, 164);
}

.answer {
    color: rgb(0, 255, 0);
}