:root {
    --font-size-bassic: 62.5%;

    --border-radius: .5rem;

    --color-dark: #000000b2;
    --color-black: #000;
    --color-blue: #6767f5;
    --color-green: #00ff00;
    --color-white: #f5f5f5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
header,
#terminal__riddel,
button,
.button-box,
.question-box,
.answer-box,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: calc(var(--font-size-bassic) * 2.6);
    padding: .5rem 0;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(var(--font-size-bassic) * 1.7);
}

header,
footer {
    height: 10lvh;
    color: var(--color-white);
    background-color: var(--color-dark);
}

#terminal__riddel {
    width: 100%;
    height: 80lvh;
    gap: .5rem;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--color-dark);
}

.question-box {
    width: 100%;
    padding: .5rem;
    gap: .5rem;
    border: ridge 1.2rem ;
    border-radius: var(--border-radius);
}

.answer-box {
    width: 100%;
    padding: .5rem;
    gap: .5rem;
    flex-direction: column;
    border-bottom: ridge 1.2rem;
    border-top: groove 1.2rem;
    border-radius: var(--border-radius);
}

p#question,
p#answer {
    width: 97%;
    border-radius: var(--border-radius);
    background-color: var(--color-black);
    font-size: calc(var(--font-size-bassic) * 2);
    padding: 2rem;
    line-height: 1.7;
}

#question {
    color: var(--color-green);
}

#answer {
    color: var(--color-blue);
}

#result {
    color: green;
    font-size: 24px;
    font-weight: bold;
}

.button-box {
    width: 100%;
    padding: 3rem .5rem;
    gap: .5rem;
}

.button {
  background: #4162a8;
  border-top: .1rem solid #38538c;
  border-right: .1rem solid #1f2d4d;
  border-bottom: .1rem solid #151e33;
  border-left: .1rem solid #1f2d4d;
  -webkit-border-radius: .4rem;
  -moz-border-radius: .4rem;
  border-radius: .4rem;
  -webkit-box-shadow: inset 0 .1rem 1rem .1rem #5c8bee, 0 .1rem 0 #1d2c4d, 0 .6rem 0 #1f3053, 0 .8rem .4rem .1rem #111111;
  -moz-box-shadow: inset 0 .1rem 1rem .1rem #5c8bee, 0 .1rem 0 #1d2c4d, 0 .6rem 0 #1f3053, 0 .8rem .4rem .1rem #111111;
  box-shadow: inset 0 .1rem 1rem .1rem #5c8bee, 0 .1rem 0 #1d2c4d, 0 .6rem 0 #1f3053, 0 .8rem .4rem .1rem #111111;
  color: #fff;
  font: bold "helvetica neue", helvetica, arial, sans-serif;
  line-height: 1;
  padding: 1rem 0 1.2rem 0;
  text-align: center;
  text-shadow: 0 -.1rem .1rem #1e2d4d;
  width: 15rem;
  background-clip: padding-box;
}

.button:hover {
  -webkit-box-shadow: inset 0 0 2rem .1rem #87adff, 0 .1rem 0 #1d2c4d, 0 .6rem 0 #1f3053, 0 .8rem .4rem.1rem #111111;
  -moz-box-shadow: inset 0 0 2rem .1rem #87adff, 0 .1rem 0 #1d2c4d, 0 .6rem 0 #1f3053, 0 .8rem .4rem .1rem #111111;
  box-shadow: inset 0 0 2rem .1rem #87adff, 0 .1rem 0 #1d2c4d, 0 .6rem 0 #1f3053, 0 .8rem .4rem .1rem #111111;
  cursor: pointer;
}

.button:active {
  -webkit-box-shadow: inset 0 .1rem 1rem .1rem #5c8bee, 0 .1rem 0 #1d2c4d, 0 .2rem 0 #1f3053, 0 .4rem .3rem 0 #111111;
  -moz-box-shadow: inset 0 .1rem 1rem .1rem #5c8bee, 0 .1rem 0 #1d2c4d, 0 .2rem 0 #1f3053, 0 .4rem .3rem 0 #111111;
  box-shadow: inset 0 .1rem 1rem .1rem #5c8bee, 0 .1rem 0 #1d2c4d, 0 .2rem 0 #1f3053, 0 .4rem .3rem 0 #111111;
  transform: translateY(.4rem);
}


